<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738761570671-gl9d2bjaudgre0h6ggfft5lcuq0ea8t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738761570671-gl9d2bjaudgre0h6ggfft5lcuq0ea8t5</string>
	<key>API_KEY</key>
	<string>AIzaSyC7ZmQMuoh204o6pkqz_V84TS33IlxABGU</string>
	<key>GCM_SENDER_ID</key>
	<string>738761570671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lebedevMaxim.To-Do</string>
	<key>PROJECT_ID</key>
	<string>todo-f68a0</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-f68a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738761570671:ios:07700f5af3ff81b383109a</string>
</dict>
</plist>